
<div>
    
 <h3 class="ps-3 mt-3 text-warning">   {{data}}</h3 >

</div>

<h1 class=" text-center mt-5" style="color:rgb(244, 244, 244); font-variant-caps: all-petite-caps;">SIGN IN</h1>

<form (ngSubmit)="login()" style="background-color: rgba(148, 148, 148, 0.693); border-radius: 20px;" action=""
    class="mt-3 p-3 w-50 container border">

    <div>
        <input [(ngModel)]="acno" name=uname id="u1" class="form-control mt-3 p-2 border font-variant-caps" type="text" [placeholder]="data1">
    </div>
    <div>
        <input [(ngModel)]="psw" name="pname" id="p1" class="form-control mt-3 p-2 border font-variant-caps " type="password" [placeholder]="data2">
    </div>

    <div class="d-grid col-1 mt-3 mx-auto">
        <button  class="btn btn-primary" type="submit">LOGIN</button>
    </div>
    <p class="mt-3 text-white"><strong>Dont have an account? </strong><a routerLink="register"><strong>Create account</strong></a></p>
</form>

<!-- 1    typescript to html  -->

<!-- string interpollation -->
    <!--   {{data}}  -->

<!-- property binding -->
    <!-- [placeholder]="data2" -->

<!-- 2   html to typescript -->

<!-- event binding -->
    <!-- (click)="login()"  -->

<!-- $event binding -->
    <!-- (change)="acnoChange($event)" -->.
    <!-- (change)="passChange($event)" -->
    
<!-- template rendering variable -->
    <!-- #varname -->

   