
<h3 class="text-center text-white mt-5 ">TRANSACTION HISTORY</h3>
<div class="container w-50 mt-3 p-3 text-center border mt-2 p-3" style="border-radius: 11px; background-color:rgb(115, 130, 206); border: none;">
<table class="text-center w-100 text-white fs-5">
    <thead>
        <tr>
            <th class="border">TYPE</th>
            <th class="border">AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="border">Credit</td>
            <td class="border">500</td>
        </tr>
        <tr>
            <td class="border">Debit</td>
            <td class="border">500</td>
        </tr>
    </tbody>
</table>
</div>