
<h3 class="mt-5 text-center text-white">transaction histroy</h3>
<div class="container w-50 text-center border p-3 mt-2" style="border-radius: 20px; background-color: rgba(65, 126, 101, 0.385);">

<table class="text-center w-100 text-white fs-4">
    <thead>
        <tr>
            <th class="border">TYPE</th>
            <th class="border">AMOUNT</th>
        </tr>
    </thead>
    <tbody class="p-3 border">
        <tr *ngFor="let i of transactionArray">                                       
            <td class="border">{{i.Type}}</td>
            <td class="border">{{i.Amount}}</td>
        </tr>
    </tbody>
</table>

</div>