
<div>
    
    <h3 class="ps-3 mt-3 text-warning"></h3 >
   
   </div>
   
   <h1 class=" text-center mt-5" style="color:rgb(244, 244, 244); font-variant-caps: all-petite-caps;">create new account</h1>
   
   <form [formGroup]="registerForm" style="background-color: rgba(148, 148, 148, 0.693); border-radius: 20px;" action=""
       class="mt-3 p-3 w-50 container border">
   
       
    <div>
        <input formControlName="acno" name=acno id="ac1" class="form-control mt-3 p-2 border font-variant-caps" type="text" placeholder="account number">
    </div>

    <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" class="text-start ms-2 mt-2">
        <p class="text-danger">includes numbers only</p>
    </div>

       <div>
        <input formControlName="uname"  name=uname id="u1" class="form-control mt-3 p-2 border font-variant-caps" type="text"  placeholder="username" >
    </div>

    <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" class="text-start ms-2 mt-2">
        <p class="text-danger">includes alphabets only</p>
    </div>

       <div>
           <input formControlName="psw" name="password" id="p1" class="form-control mt-3 p-2 border font-variant-caps " type="password" placeholder="enter password" >
       </div>

       <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched" class="text-starts mt-2 ms-2">
        <p class="text-danger">includes characterts and numbers</p>
       </div>
   
       <div class="d-grid col-5 mt-3 mx-auto">
           <button (click)="register()" class="btn btn-primary" type="button">sign up</button>
       </div>
   </form>

   <!-- data binding is done with form validation -->